.navbar-brand {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

li {
  margin: 0.5rem;
}

.resCategory {
  text-align: center;
  color: black;
}

.custom-navbar {
  background-color: white;
  color: black;
  border-bottom: 1px solid lightgray;
}

.customDrop {
  align-items: left;
  padding-right: 1rem;
}

.link {
  color: black;
}
.navbar-nav .nav-link {
  color: black;
}

/* NavBar.css */
.dropdown-menu {
  position: absolute;
  top: 100%; /* Position the dropdown below the parent element */
  left: 0;
  z-index: 1000; /* Ensure the dropdown appears above other content */
  color: white; /* Set text color to ensure readability */
}
.navbar-toggler {
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.25rem;
}
