.navBar {
  padding: 0.5rem 1rem 1rem 0.5rem;
  background-color: #212529;
}

.navbar-brand {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

li {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.resCategory {
  text-align: center;
}
